@charset "utf-8";

@media screen and (min-width: 370px) and (max-width: 800px){
    main{
        width: 300px;
    }

    header li{
        padding: 10px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px){
    main{
        width: 700px;
    }

    html, body{
        width: 100vw;
    }

    header li{
        padding: 10px;
        width: 50px;
        display: inline-block;
        border-radius: 10px 10px 0px 0px;
        border: none;
        text-align: center;
        
    }

    header ul{
        text-align: left;
        margin-left: 5px;

    }

    header{
        border-bottom: 0px;
    }

    span#menu{
        display: none;
    }

    menu{
        display: block;
    }
    

}

@media screen and (min-width: 1300px) and (max-width: 1440px){
    main{
        width: 700px;
    }

    html, body{
        width: 100vw;
    }

    header li{
        padding: 10px;
        width: 50px;
        display: inline-block;
        border-radius: 10px 10px 0px 0px;
        border: none;
        text-align: center;
        
    }

    header ul{
        text-align: left;
        margin-left: 5px;

    }

    header{
        border-bottom: 0px;
    }

    menu{
        display: block;
    }
    span#menu{
        display: none;
    }
    
    
}


@media print{
    main{
        width: 300px;
    }

    header li{
        padding: 10px;
    }
    span#menu{
        display: none;
    }
    
}