@charset "UTF-8";

    body{
        background-color: lightgreen;
        font-family: Arial, Helvetica, sans-serif;
    
    }

    h1{
        color: green;
    }

    h2{
        color: rgb(57, 95, 57);
    }

    h1#principal {
        color: black;
        text-align: center;
    }
    .basico{
        color: brown;
    }

    .intermediario{
        color: blue;
    }

    .avancado{
        color: yellow;
    }

    div > main > span {
        text-decoration: gre;
    }