@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 1300px){

    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    main{
        width: 400px;
    }
    
    img#tel { display: none;}
    img#impr { display: none;}
    img#tv { display: none;}
    img#tab { display: block;}
    img#pc { display: none;}
}

@media screen and (min-width: 1300px) and (max-width: 1500px){

    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    main{
        width: 550px;
    }
    
    
    img#tel { display: none;}
    img#impr { display: none;}
    img#tv { display: none;}
    img#tab { display: none;}
    img#pc { display: block;}
}

@media screen and (min-width: 1500px) {

    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 750px;
    }
    
    
    img#tel { display: none;}
    img#impr { display: none;}
    img#tv { display: block;}
    img#tab { display: none;}
    img#pc { display: none;}
}

@media print{

    body{
        background-image: url(../imagens/back-print.jpg);
    }
    
    img#tel { display: none;}
    img#impr { display: block;}
    img#tv { display: none;}
    img#tab { display: none;}
    img#pc { display: none;}
}